.product {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 380px;
  width: auto;
}
.img-container {
  height: 250px;
  width: auto;
  border-bottom: 1px solid #ece8e8;
}
img {
  height: 250px;
  width: 100%;
}
.product-info {
  padding: 15px 15px;
}
.btn-cart {
  border: none;
  color: #78b0ed;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
}
