.cart {
  background-color: #dfdfdf;
  padding: 10px 20px;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cart h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.btn1 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #57cc99;
  color: #57cc99;
  margin-bottom: 5px;
}
.btn2 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #9c4daa;
  color: #9c4daa;
}
.selected-item p {
  background-color: #ffffff;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 10px;
}
